<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset>
        <label for="username">Trainer name: </label>
        <input type="text" ngModel #username="ngModel" required name="username" id="username" type="text"
            placeholder="What is your name?" />

        <button type="submit" [disabled]="loginForm.invalid">Log in</button>

        <div *ngIf="username.errors && (username.dirty || username.touched)">
            <span *ngIf="username.errors?.['required']">
                Username is required
            </span>
            <!-- <span  *ngIf="username.errors?.['minlength']" >
                        Username is too short
                    </span> -->
        </div>
    </fieldset>
</form>